<center><h1> ThuPhat </h1></center>

<div class="callout">
  <span class="big">Placeholder Images</span> for every case.</br>
  Webdesign or Print. It's simple and absolutely free!</br>
  Just put the custom url in your code like this:</br>
  <span class="example">
    &lt;img src="http://thuphat.herokuapp.com/400/200" /&gt;</br>
  </span>
</div>

</br>

<ul class="code">
  <li><a class="url" target="_blank" href="http://thuphat.herokuapp.com/400/200">http://thuphat.herokuapp.com/400/200</a><span class="result"> to get a random picture of 400 x 200 pixels</span></li>
  <li><a class="url" target="_blank" href="http://thuphat.herokuapp.com/grv/400/200">http://thuphat.herokuapp.com/g/400/200</a><span class="result"> to get a random gray(g)/raise(r)/vingette(v) picture of 400 x 200 pixels</span></li>
  <li><a class="url" target="_blank" href="http://thuphat.herokuapp.com/400/200/sports">http://thuphat.herokuapp.com/400/200/sports</a><span class="result"> to get a random picture of the sports category</span></li>
  <li><a class="url" target="_blank" href="http://thuphat.herokuapp.com/400/200/sports/1">http://thuphat.herokuapp.com/400/200/sports/1</a><span class="result"> to get picture no. 1/10 from the sports category</span></li>
</ul>

<div class="category">
<h2 style="font-size: 28px;"> Categories </h2>
<ol class="categories">
  <% Dir["public/*"].each do |c| %>
    <li> <%= c.gsub("public/","").capitalize %> </li>
  <% end %>

</ol>
</div>

<style type="text/css">
  body {
    background: black;
    color: white;
    font-family: 'hm-regular';
    font-size: 12px;
  }
  .callout {
    margin: 0 auto;
    width: 350px;
    font-size: 16px;
  }
  .callout .big {
    font-size: 28px;
  }
  span.example {
    display: block;
    color: #1886C7;
  }

  ul.code {
    list-style-type: none;
    font-size: 14px;
    width: 700px;
    margin: 0 auto;

  }

  .code a.url {
    text-decoration: none;
    font-size: 16px;
    color: #1886C7;
  }

  .code a.url:hover {
    text-decoration: underline;
  }

  div.category {
    margin: 0 auto;
    width: 610px;
  }

  ol.categories {
    font-size: 16px;
    list-style-type: none;
  }

  ol.categories li {
    display: inline-block;
    width: 110px;
  }
</style>
